<div id="menu4" class="tab-pane fade in active">
    <div class="row">
      <div class="col-lg-8 col-md-8">  
         <h3 id="tab_head">Particulars Of Siblings</h3> 
      </div>
      <div class="col-lg-4 col-md-4" style="margin-top: 2%;margin-bottom: 1%;">  
        <label style=" font-weight: 500 !important;"><span style="color:red">*</span> Number Of Siblings :</label>
          <select class="form-control" id="select_sib">
              <option>Select</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
       </div>
    </div>
    <table class="table">
        <thead>
          <tr class="tb_label">
            <th>#</th>
            <th>Name</th>
            <th>Relationship to Child</th>
            <th>Date Of Birth</th>
            <th>Age</th>
            <th>Occupation</th>
            <th>Monthly Income</th>
          </tr>
        </thead>
             <thead>
          <tr class="">
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><font size='1'>(if applicable)</font></th>

          </tr>
        </thead>
        <tbody>
          <tr id="t1"> 
            <th scope="row">1</th>
            <form id="Siblings_1">
            <td><input type="text" class="form-control p-input" id="PSR_Name1" name="PSR_Name"></td>
            <td><input type="text" class="form-control p-input" id="PSR_Relationship1" name="PSR_Relationship"></td>
            <td><input type="date" class="form-control p-input" id="PSR_Date_Of_Birth1" name="PSR_Date_Of_Birth"></td>
            <td><input type="text" class="form-control p-input" id="PSR_Age1" name="PSR_Age"></td>                                                            
            <td><input type="text" class="form-control p-input" id="PSR_Occupation1" name="PSR_Occupation"></td>                                                               
            <td><input type="text" class="form-control p-input" id="PSR_Monthly_Income1" name="PSR_Monthly_Income"></td>
            </form>
          </tr>
          <tr id="t2">
                <th scope="row">2</th>
                <form id="Siblings_2">
                <td><input type="text" class="form-control p-input" id="PSR_Name2" name="PSR_Name"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Relationship2" name="PSR_Relationship"></td>
                <td><input type="date" class="form-control p-input" id="PSR_Date_Of_Birth2" name="PSR_Date_Of_Birth"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Age2" name="PSR_Age"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Occupation2" name="PSR_Occupation"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Monthly_Income2" name="PSR_Monthly_Income"></td>
                </form>
          </tr>
          <tr id="t3">
                <th scope="row">3</th>
                <form id="Siblings_3">
                <td><input type="text" class="form-control p-input" id="PSR_Name3" name="PSR_Name3"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Relationship3" name="PSR_Relationship3"></td>
                <td><input type="date" class="form-control p-input" id="PSR_Date_Of_Birth3" name="PSR_Date_Of_Birth3"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Age3" name="PSR_Age3"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Occupation3" name="PSR_Occupation3"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Monthly_Income3" name="PSR_Monthly_Income3"></td>
                </form>
          </tr>

          <tr id="t4">
                <th scope="row">4</th>
                <form id="Siblings_4">
                <td><input type="text" class="form-control p-input" id="PSR_Name4" name="PSR_Name4"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Relationship4" name="PSR_Relationship4"></td>
                <td><input type="date" class="form-control p-input" id="PSR_Date_Of_Birth4" name="PSR_Date_Of_Birth4"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Age4" name="PSR_Age4"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Occupation4" name="PSR_Occupation4"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Monthly_Income4" name="PSR_Monthly_Income4"></td>
                </form>
          </tr>
          <tr id="t5">
                <th scope="row">5</th>
                <form id="Siblings_5">
                <td><input type="text" class="form-control p-input" id="PSR_Name5" name="PSR_Name5"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Relationship5" name="PSR_Relationship5"></td>
                <td><input type="date" class="form-control p-input" id="PSR_Date_Of_Birth5" name="PSR_Date_Of_Birth5"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Age5" name="PSR_Age5"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Occupation5" name="PSR_Occupation5"></td>
                <td><input type="text" class="form-control p-input" id="PSR_Monthly_Income5" name="PSR_Monthly_Income5"></td>
                </form>
          </tr>
        </tbody>
    </table>
    <div class="row">
            <div class="col-lg-6 col-md-6">
              
            </div>
            <div class="col-lg-6 col-md-6">
              
                <input type="button" value="Save" class="main_btn" id="submit_5">
    
            </div>
    </div>
</div>