<div class="container-fluid card">
    <ul class="nav nav-tabs">
            <li ><a data-toggle="tab" routerLink="/ChildEducationBackground">Child Education Background</a></li>
            <li><a data-toggle="tab" routerLink="/MedicalAndAlliedHealthProf" >Medical and Allied Health Professional Involvement</a></li>
            <li><a data-toggle="tab" routerLink="/BasicQueries" >Basic Queries</a></li>
    </ul>
    

<!-- Child Education Background -->    

   
                  
                  

    <!-- Medical and Allied Health Professional Involvement -->

                  
                      
        <!-- Basic Queries -->

                                       
           
</div>