<div id="menu3" class="tab-pane fade in active">
    <form id="forth_form">
        <h3 id="tab_head">Particulars Of Legal Guardian</h3> 
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" class="form-control p-input" id="PG_Name" name="PG_Name"  >
              <p id="error_PG_Name" class="error_msg"></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Aadhar/ Driving/ Passport No</label>
              <input type="text" class="form-control p-input" id="PG_identity" name="PG_identity"  >
              <p id="error_PG_identity" class="error_msg"></p>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">DOB</label>
              <input type="date" class="form-control p-input" id="PG_DOB" name="PG_DOB"  >
              <p id="error_PG_DOB" class="error_msg"></p>
            </div>
          </div>
              
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Marital Status</label>
                <div class="row">
                  <div class="col-lg-4 col-md-4">                      
                    <div class="form-radio">
                      <label>
                      <input  value="single" type="radio" id="PG_Marital_status" name="PG_Marital_status"  >
                      Single
                      </label>
                    </div>
                  </div>
                    
                  <div class="col-lg-4 col-md-4">  
                    <div class="form-radio">
                      <label>
                      <input  value="Married" type="radio" id="PG_Marital_status" name="PG_Marital_status"  checked="checked">
                      Married
                      </label>
                    </div>
                  </div>
      
                  <div class="col-lg-4 col-md-4"> 
                    <div class="form-radio">
                      <label>
                      <input  value="separated" type="radio" id="PG_Marital_status" name="PG_Marital_status"  >
                      Separated
                      </label>
                    </div>
                  </div> 
                </div>  
                  
                <div class="row">            
                  <div class="col-lg-4 col-md-4"> 
                    <div class="form-radio">
                      <label>
                      <input  value="divorced" type="radio" id="PG_Marital_status" name="PG_Marital_status"  >
                      Divorced
                      </label>
                    </div>
                  </div>
                    
                  <div class="col-lg-4 col-md-4">
                    <div class="form-radio">
                      <label>
                      <input  value="widowed" type="radio" id="PG_Marital_status" name="PG_Marital_status"  >
                      Widowed
                      </label>
                    </div>  
                  </div>
      
                </div>
            </div>
               
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Country of Birth</label>
              <input type="text" class="form-control p-input" id="PG_Country_of_Birth" name="PG_Country_of_Birth"   >
              <p id="error_PG_Country_of_Birth" class="error_msg"></p>
            </div>
          </div>
          
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Citizenship</label>
              <input type="text" class="form-control p-input" id="PG_Citizenship" name="PG_Citizenship"   >
              <p id="error_PG_Citizenship" class="error_msg"></p>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Religion</label>
              <input type="text" class="form-control p-input" id="PG_Religion" name="PG_Religion"   >
              <p id="error_PG_Religion" class="error_msg"></p>
            </div>
          </div>
                
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Highest Academic Qualification</label>
              <div class="row">
                <div class ="col-lg-6 col-md-6">
                  <div class="form-radio">
                    <label>
                    <input  value="No_Formal_Education" type="radio" id="PG_Highest_Academic_Qualification" name="PG_Highest_Academic_Qualification"  >
                    NO_Formal_Education
                    </label>
                  </div>
                </div>
                
                <div class ="col-lg-6 col-md-6">
                  <div class="form-radio">
                    <label>
                      <input  value="Primary" type="radio" id="PG_Highest_Academic_Qualification" name="PG_Highest_Academic_Qualification"  >
                      Primary
                      </label>
                  </div>
                </div>
              </div>
      
              <div class="row">
                <div class ="col-lg-6 col-md-6">
                  <div class="form-radio">
                    <label>
                      <input  value="Secondry" type="radio" id="PG_Highest_Academic_Qualification" name="PG_Highest_Academic_Qualification" checked="checked" >
                      Secondry(A levels, Diploma, ITE)
                      </label>
                  </div>
                </div>
                     
                <div class ="col-lg-6 col-md-6">
                  <div class="form-radio">
                    <label>
                    <input  value="Postsecondary" type="radio" id="PG_Highest_Academic_Qualification" name="PG_Highest_Academic_Qualification"  >
                    Postsecondary
                    </label>
                  </div>
                </div>
              </div>
                 
              <div  class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="form-radio">
                    <label>
                    <input  value="Graduate/ Postgraduate" type="radio" id="PG_Highest_Academic_Qualification" name="PG_Highest_Academic_Qualification"  >
                    Graduate/ Postgraduate
                    </label>
                   </div>
                </div>
              </div> 
          </div>
        </div>
      </div>
      
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Gross Monthly Income</label>
                  <input type="text" class="form-control p-input" id="PG_Gross_Monthly" name="PG_Gross_Monthly"   >
                  <p id="error_PG_Gross Monthly" class="error_msg"></p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Occupation</label>
                  <input type="text" class="form-control p-input" id="PG_Occupation" name="PG_Occupation"   >
                  <p id="error_PG_Occupation" class="error_msg"></p>
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col-lg-6 col-lg-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Spoken Language(s)</label>
                  <input type="text" class="form-control p-input" id="PG_Spoken_Language" name="PG_Spoken_Language"   >
                  <p id="error_PG_Spoken_Language" class="error_msg"></p>
                </div>
              </div>
              <div class="col-lg-6 col-lg-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Contact no.   (Home)</label>
                  <input type="text" class="form-control p-input" id="PG_Contact_home"  name="PG_Contact_home" autocomplete="off"  >
                  <p id="error_PG_Contact_home" class="error_msg"></p>
                </div>
              </div>
            </div>
      
            <div class="row">
              
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Contact no.   (Mobile)</label>
                  <input type="text" class="form-control p-input" id="PG_Contact_mobile"  name="PG_Contact_mobile" autocomplete="off"  >
                  <p id="error_PG_Contact_mobile" class="error_msg"></p>
                </div>
              </div>
              
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="text" class="form-control p-input" id="PG_Email"  name="PG_Email" autocomplete="off"  >
                  <p id="error_PG_Email" class="error_msg"></p>
                </div>
              </div>
            
            </div>
      
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="exampleInputEmail1">Residential Address(if different from child's residential address)</label>
                  <input type="text" class="form-control p-input" id="PG_Residential_Address"  name="PG_Residential_Address" autocomplete="off"  >
                  <p id="error_PG_Residential_Address" class="error_msg"></p>
                </div>
              </div>
            </div>
            <div class="row">
                    <div class="col-lg-6 col-md-6">
                      
                    </div>
                    <div class="col-lg-6 col-md-6">
                      
                        <input type="button" value="Save" class="main_btn" id="submit_4">
            
                    </div>
            </div>
         </form>
      </div>
