<div id="menu2" class="tab-pane fade in active">
  <form id="md_third_form">   
  <h3 id="tab_head">Basic Queries</h3>
  <div id="snackbar2" class="snack"></div> 
   <div class="form-group">
       <label for="exampleInputEmail1" class="qns_align">1. What are your child's strength and interests?</label>
       <textarea class="form-control p-input qns_align_t" id="PR1"  name="PR1" ></textarea>
       <p id="error_box_1" class="error_msg"></p>
     </div>
     
     <div class="form-group">
       <label for="exampleInputEmail1" class="qns_align">2. What is your child's behaviour like on a typical day?</label>
       <textarea class="form-control p-input qns_align_t" id="PR2"  name="PR2" ></textarea>
       <p id="error_box_2" class="error_msg"></p>
     </div>
     
     <div class="form-group">
       <label for="exampleInputEmail1" class="qns_align">3. What are some situations that may cause your child to be upset or
       distressed(e.g. chamges to routines, unable to get what he or she wants,going to new places)?
       How often do they occur(e.g. once a day,3 4 times a week)?</label>
       <textarea class="form-control p-input qns_align_t" id="PR3"  name="PR3"></textarea>
       <p id="error_box_3" class="error_msg"></p>
     </div>
     
     <div class="form-group">
       <label for="exampleInputEmail1" class="qns_align">4. What does your child do when he/she is upset or distressed?
       What are some of your child's behaviours that may involve health and safety risks for your child or others
       (e.g. tendency to run away from school or house if unsupervised,injures self or others)?
       </label>
     <textarea class="form-control p-input qns_align_t" id="PR4"  name="PR4"></textarea>
     <p id="error_box_4" class="error_msg"></p>
     </div>
     
     <div class="form-group">
       <label for="exampleInputEmail1" class="qns_align">5. What do you do help your child to calm down when he/she is upset or distressed?</label>
       <textarea class="form-control p-input qns_align_t" id="PR5"  name="PR5" ></textarea>
       <p id="error_box_5" class="error_msg"></p>
     </div>
     <div class="row">
           <div class="col-lg-6 col-md-6"> 
             
           </div>
           <div class="col-lg-6 col-md-6">
             
               <input type="button" value="Save" class="main_btn" id="submit_3">
   
           </div>
   </div> 
   </form>
   </div>          